@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Terence Loorthanathan - A20EC0165</h1>
    <p class="m-1 text-white">This application was created as part of an assignment for Application Development. In this assignment students are required to develop an application with CRUD Functionalities, using the Entity Framework Code First Approach</p>
    <br />
    <p class="text-light">To see my page click <a href="/Employee">here</a>.</p>
</div>
