@model Assignment4_EmployeeData.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Delete Employee";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3 class="text-light">@ViewData["Title"]</h3>
<h5 class="text-info">You cannot Edit in this Page</h5>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger bg-light">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>

    </div>
}

<form action="Delete" method="post">

    <div class="mb-3">

        <div class="form-group">
            <label class="form-label text-light">ID</label>
            <input asp-for="Id" class="form-control" type="text" readonly />
        </div>

        <div class="form-group">
            <label class="form-label text-light">First Name</label>
            <input asp-for="FirstName" class="form-control" type="text" readonly />
        </div>

        <div class="form-group text-light">
            <label class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" type="text" readonly />
        </div>


        <div class="form-group text-light">
            <label class="form-label">Date of Birth</label>
            <input asp-for="DateOfBirth" class="form-control" type="date" readonly />
        </div>

        <div class="form-group text-light">
            <label class="form-label">E-Mail</label>
            <input asp-for="Email" class="form-control" type="email" readonly />
        </div>

        <div class="form-group text-light">
            <label class="form-label">Salary</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input asp-for="Salary" class="form-control" type="text" readonly />
            </div>

        </div>

    </div>

    <div class="form-group d-grid">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete employee : @Model.FullName')">Delete</button>
    </div>


</form>